body{
    width: auto;
    height: auto;
}
header{
    background-color: cyan;
    display: flex;
    width: auto;
    height: 100px;
}

footer{
    background-color:  rgb(27, 26, 26);
    display:flex;
    width: auto;
    height: 100px;
    align-items: center;
    justify-content: center;
}